.choropleth-chart {
  min-height: 300px;
  height: auto;
  margin: auto;
  width: 80%;
  background-color: white;
  overflow: hidden; }
  .choropleth-chart svg {
    overflow: visible; }
    .choropleth-chart svg path.country {
      stroke: white; }
  .choropleth-chart .tooltip {
    opacity: .8; }
    .choropleth-chart .tooltip .tooltip-title {
      color: white;
      font-size: 1.7em; }
    .choropleth-chart .tooltip .tooltip-text {
      font-size: 1.3em; }
  .choropleth-chart .tooltip.hidden {
    display: none; }
  .choropleth-chart .tooltip:before {
    content: none; }
  .choropleth-chart .zoom-controls-container {
    position: absolute;
    right: 30px;
    top: 10px;
    color: #B60835; }
    .choropleth-chart .zoom-controls-container .reset-button {
      float: left;
      margin-right: 15px;
      background: white;
      padding: 0px 4px;
      cursor: pointer;
      font-size: .9em;
      margin-top: 5px;
      line-height: 1.5em; }
      .choropleth-chart .zoom-controls-container .reset-button:hover {
        background: #ededed; }
    .choropleth-chart .zoom-controls-container .reset-button {
      text-decoration: underline;
      background-color: white;
      opacity: .5; }
    .choropleth-chart .zoom-controls-container .zoom-buttons {
      float: right;
      font-weight: 600;
      font-size: 1.5em;
      text-align: center; }
      .choropleth-chart .zoom-controls-container .zoom-buttons .zoom-button {
        background: #dce8f8;
        padding: 0px 10px;
        line-height: 1.5em;
        cursor: pointer; }
        .choropleth-chart .zoom-controls-container .zoom-buttons .zoom-button:hover {
          background: #d2dce9; }
      .choropleth-chart .zoom-controls-container .zoom-buttons #zoom-out {
        border-top: 1px solid white;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px; }
      .choropleth-chart .zoom-controls-container .zoom-buttons #zoom-in {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
  .choropleth-chart .legend .legend-title {
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase; }
  .choropleth-chart .legend .key-text {
    font-size: .8em; }
